<section id="edit_url">
  <% if flash[:success] %>
    <div class="success">
      <p><%= flash[:success] %></p>
    </div>  
  <% end %>
  <form action="/urls/<%= @url.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="title">TITLE </label>
    <input type="text" id="title" name="title" value="<%= @url.title %>" placeholder="Add one" required><br>
    <button type="submit">Save</button>
  </form>

  <h3>Short Link <%= '<small><a href="/login">(Login to save your link)</a></small>' unless logged_in? %></h3>

  <a href="<%= @url.shorten(host)%>" target="_blank" class="short_link"><%= @url.shorten(host) %></a> 
  <button class="copy_link">Copy</button>

  <h3>Actual Link</h3>
  <a href="<%= @url.target_url %>" target="_blank"><%= @url.target_url %></a> 
  
</section>