<section id="main">
	<% if flash[:shortened_url] %>
		<div id="shortened_url">

			<p>
				<a href="<%= flash[:shortened_url]%>" target="_blank" class="short_link">
					<%= flash[:shortened_url] %>
				</a>

				<button class="copy_link">Copy</button>
			</p>

		</div>

	<% elsif flash[:error] %>

		<div class="error">
			<p>
				<%= flash[:error] %>
			</p>
		</div>

	<% end %>

	<form action="/urls" method="post">
		<input type="text" name="target_url" id="target_url" placeholder="Paste long link" required>
		<button type="submit">Shorten</button>
	</form>

</section>

<section id="history">
	<h3>History <%= '<small><a href="/login">(Login to save your links)</a></small>' unless logged_in? %>
	</h3>
	
	<ul>
		<% history_urls.each do |url| %>
			<li>
			<span>TITLE: <a href="/urls/<%= url.id %>" class="title"><%= url.title? ? url.title : 'Add one' %></a></span>

			<span>Link: <a href="<%= url.shorten(host) %>" target="_blank" class="short_link"><%= url.shorten(host) %></a>
			<button class="copy_link">Copy</button>
			</span>

			</li>
		<% end %>
	</ul>
</section>