<h1>Url Shortner Built In Sinatra!</h1>
<form action="/urls" method="post">
	<p>
		<input type="text" name="url" id="url" placeholder="Enter Url">
	</p>

	<p>
		<button type="submit">Shorten Url</button>
	</p>
</form>

<% if flash[:shortened_url] %>
	<h3>Fresh Url For You!</h3>
	<h3><a href="<%= flash[:shortened_url] %>" target="_blank"><%= flash[:shortened_url] %></a></h3>
<% end %>

<% if flash[:error] %>
	<h3 class="error"><%= flash[:error] %></h3>
<% end %>

<% if logged_in? %>
	<a href="/logout" id="logout">Logout</a>
	
	<h3 id="made_by">URLS made by <%= current_user.username %></h3>
	
	<% current_user.urls.each do |url_object| %>
		<ul>
			<li>
				Actual URL: <a href="<%= url_object.url %>" target="_blank"><%= url_object.url %></a>
				<br>
				Shortened URL: <a href="<%= url_object.shorten %>" target="_blank"><%= url_object.shorten %></a>
			</li>
		</ul>
	<% end %>

<% else %>
	<div id="signup-login">
		<h3>Login/SignUp to save URLS you create!</h3>
		<p><a href="/signup">SignUp</a></p>
		<p><a href="/login">Login</a></p>
	</div>
<% end %>


